{{#each herbs}}
    <div class="herb-container">
        <a href="/herb/{{this._id}}">
        <div class="herb-image" href="/herb/{{this._id}}" style="background-image: url('{{this.image}}')">
            <h2>{{this.commonName}}</h2>
            <h4 class="sub-title">{{this.latinName}}</h4>
        </div>
        </a>

        <div class="description">
            {{this.description}}
        </div>
        
        <div class="container-bottom">

            <div class="flex-item">
            <button onclick="favorites('{{this._id}}')" class="favorites {{this._id}}" id="favorite"><i class="fa fa-heart"></i>Favorite</button>

            </div> 
             <div class="flex-item">
                <a href="/herb/{{this._id}}">Read more</a>
            </div>         

        </div>             
    </div>
{{/each}}

<script>
    function favorites (id) {
        let button = document.getElementById("favorite");
        button.addEventListener("click", function(event){
        axios.post('{{host}}:{{port}}/herb/favorites/' + id)
        .then(function (response) {
            if (response){
                button.style.color = "yellow";
            } else {
                console.log(response);
            }
            
      
        })
        .catch(function (error) {
            console.log(error);
        });
    });
    }

</script>



