{{#each herbs}}
    <div class="herb-container">
        <a href="/herb/{{this._id}}">
        <div class="herb-image" href="/herb/{{this._id}}" style="background-image: url('{{this.image}}')">
            <h2>{{this.commonName}}</h2>
            <h4 class="sub-title">{{this.latinName}}</h4>
        </div>
        </a>

        <div class="description">
            {{this.description}}
        </div>

        <a href="/herb/{{this._id}}">
            <button>Read more</button>
        </a>
    </div>
{{/each}}
