<div class="wrapper">
    <div class="herb-container single">
        <div class="herb-image"  style="background-image: url('{{herb.image}}')">
            <h2>{{herb.commonName}}</h2>
            <h4 class="sub-title">{{herb.latinName}}</h4>
        </div>


        <div class="description">
            <p>{{herb.description}}</p>
        </div>
        
        <div class="container-bottom">
          <h5>Water: <strong>{{herb.waterNeed}}</strong></h5>
          <h5>Lightconditions: <strong>{{herb.lightNeed}}</strong></h5>
          <h5>Minimal Temperature: <strong>{{herb.temperature.min}}</strong></h5>
          <h5>Maximal Temperature: <strong>{{herb.temperature.max}}</strong></h5>
          <h5>Optimal Temperature: <strong>{{herb.temperature.optimal}}</strong></h5>
        </div>  
   

    </div>
</div>

