<h3>Make changes to your herb</h3>
<form action="/member/myherbs/edit/{{herb._id}}" method="POST">

  <div class="flex-item">
    <input type="text" placeholder="Common Name" name="commonName" id="commonName" value="{{herb.commonName}}"></input>
    <input type="text" placeholder="Latin Name" name="latinName" id="latinName" value="{{herb.latinName}}"></input>
    <input type="url" placeholder="Image-url" name="imageUrl" id="imageUrl" value="{{herb.image}}"></input>
  </div>
  
  <div class="flex-item">
    <textarea rows="6" cols="60" type="text" placeholder="Give a short description" name="description" id="description" value="{{herb.description}}"></textarea>
  </div>

  <div class="flex-item">
    <p>Requirements</p>
    <label for="waterNeed">Water</label>
    <input type="number" name="waterNeed" id="waterNeed" value="{{herb.waterNeed}}"></input>
    <label for="lightNeed">Light</label>
    <input type="number" name="lightNeed" id="lightNeed" value="{{herb.lightNeed}}"></input>
    <label for="temperatureMin">Minimal Temperature</label>
    <input type="number" name="temperatureMin" id="temperatureMin" value="{{herb.temperature.min}}"></input>
    <label for="temperatureMax">Maximal Temperature</label>
    <input type="number" name="temperatureMax" id="temperatureMax" value="{{herb.temperature.max}}"></input>
    <label for="temperatureOptimal">Optimal Temperature</label>
    <input type="number" name="temperatureOptimal" id="temperatureOptimal" value="{{herb.temperature.optimal}}"></input>
  </div>

  <div class="flex-item">
    <p>Growing Season</p>
    <label for="seasonStart">From:</label>
    <input type="number" name="seasonStart" id="seasonStart" value="{{herb.season.start}}"></input>
    <label for="seasonEnd">To:</label>
    <input type="number" name="seasonEnd" id="seasonEnd" value="{{herb.season.end}}"></input>
    <label for="inside">Can be grown inside</label>
    <input type="checkbox" name="inside" id="inside"  value="{{herb.inside}}"></input>
    <button>Submit</button>
  </div>
</form>